html { font-size: 22px; }
body { padding: 1rem; }
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  background: #502929;
  color:  #5fa5db;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Containers */

.container {
  margin-left: auto;
  margin-right: auto;
}

.container.\31 25\25 {
  width: 100%;
  max-width: 100rem;
  min-width: 80rem;
}

.container.\37 5\25 {
  width: 60rem;
}

.container.\35 0\25 {
  width: 40rem;
}

.container.\32 5\25 {
  width: 20rem;
}

.container {
  width: 80rem;
}

@media screen and (max-width: 1680px) {
  .responsive{
    display: inline-block;
  }
  body{
    background-color:#13033f;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 100rem;
    min-width: 80rem;
  }

  .container.\37 5\25 {
    width: 60rem;
  }

  .container.\35 0\25 {
    width: 40rem;
  }

  .container.\32 5\25 {
    width: 20rem;
  }

  .container {
    width: 80rem;
  }

}

@media screen and (max-width: 1280px) {
  .responsive{
    display: inline-block;
  }
  body{
    background-color: #13033f;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 81.25rem;
    min-width: 65rem;
  }

  .container.\37 5\25 {
    width: 48.75rem;
  }

  .container.\35 0\25 {
    width: 32.5rem;
  }

  .container.\32 5\25 {
    width: 16.25rem;
  }

  .container {
    width: 65rem;
  }

}

@media screen and (max-width: 980px) {
  .responsive{
    display: inline-block;
  }
  body{
    background-color: #13033f;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }

  .container.\37 5\25 {
    width: 67.5%;
  }

  .container.\35 0\25 {
    width: 45%;
  }

  .container.\32 5\25 {
    width: 22.5%;
  }

  .container {
    width: 90%;
  }

}

@media screen and (max-width: 736px) {
  .responsive{
    display: inline-block;
  }
  body{
    background-color: #29085f;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }

  .container.\37 5\25 {
    width: 67.5%;
  }

  .container.\35 0\25 {
    width: 45%;
  }

  .container.\32 5\25 {
    width: 22.5%;
  }

  .container {
    width: 90% !important;
  }

}

@media screen and (max-width: 480px) {
  .responsive{
    display: inline-block;
  }

  .container.\31 25\25 {
    width: 100%;
    max-width: 112.5%;
    min-width: 90%;
  }

  .container.\37 5\25 {
    width: 67.5%;
  }

  .container.\35 0\25 {
    width: 45%;
  }

  .container.\32 5\25 {
    width: 22.5%;
  }

  .container {
    width: 90% !important;
  }

}




.row,
.row-alt {
  max-width: auto;
}
.row {
  background: rgb(79, 110, 108);
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #1a3310;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}



h1, h2, h3, h4 {
  color: #d2ddda;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #040c13;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.div{
  width: 80%;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

a {
  color: #d7f0ea;
  text-decoration: none;
}
a:hover {
  color: #e2f0ed;
  text-decoration: none;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
.btn {
  font-size:0.875em;
  display:block;
  left:-60px;
  margin-top:35px;
  width:100%;
}


.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

.nav a{
  display: inline-block;
  line-height:45px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0%;
}
.nav {
display: block;
  
}
.nav:hover{
  color: #ffffff;
  text-decoration: none;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}

.speaker {
  margin-bottom: 44px;

}
.speaker-info {

  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
.speaker-info img {
  border-radius: 80%;
  height: 130px;
 
}

